@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background-color: black;
}
nav {
  width: 72%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 500px;
  position: sticky;
  top: 0;
  background-color: black;
}
li {
  list-style-type: none;
  font-size: 1.05rem;
  font-weight: 700;
  /* display: inline;
  margin-right: 15px; */
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 85%;
  padding: 0;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  width: 72%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
p {
  /* width: 60%; */
  color: #979e99;
}
.hero-right {
  width: 50%;
}
h4 {
  color: #f63e3d;
  font-size: 1.3em;
}
h1 {
  font-size: 3.5em;
}
button {
  all: unset;
  background-image: linear-gradient(
    to right,
    #9e101a,
    #a3111c,
    #a8131d,
    #ae141f,
    #b31521,
    #b61622,
    #b91723,
    #bc1824,
    #be1924,
    #bf1925,
    #c11a25,
    #c31a26
  );
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  flex-grow: 1;
  height: 350px;
  padding: 50px;
  background-color: #1e1e1e;
}

.second-card {
  background-color: #c21926;
}
.first-link {
  color: #f63e3d;
}
a {
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
.fa-arrow-right {
  margin-left: 15px;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
}
.dropdown-parent {
  position: relative;
  cursor: pointer;
}
.dropdown {
  border: 1px white solid;
  position: absolute;
  padding: 15px;
  background-color: black;
  display: none;
}
.dropdown-parent:hover .dropdown {
  display: block;
}
.dropdown-menu li:hover {
  background-color: #f63e3d;
  color: white;
}
